body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#circle {
    width: 500px;
    height: 500px;
    background: rgba(100,149,237,0.15);
    border: 8px solid cornflowerblue;
    border-radius: 50%;
    position: relative;
    overflow: hidden; /* keeps circles inside */
}

#circle::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55%; /* water height */
    border-radius: 0 0 50% 50%;
    background: rgba(100,149,237,0.25); /* water tint */
    pointer-events: none;
}

#circleCount {
    color: black;
    position: fixed;
    top: 105px;
    left: 20px;
}

/* glass shine highlight */
#circle::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 15%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: rgba(255,255,255,0.25);
    filter: blur(20px);
}

/* reset button code */
#resetBtn {
    position: fixed;
    top: 25px;
    left: 20px;
    background: cornflowerblue;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

/* rising bubbles */
.bubble {
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    opacity: 0.7;
    animation: rise 4s linear forwards;
}

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 0.7;
    }
    100% {
        transform: translateY(-200px);
        opacity: 0;
    }
}

/* speed slider */
#sliderContainer {
    position: fixed;
    top: 75px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#speedLabel {
    color: black;
    font-size: 15px;
    position: relative;
}

#speedSlider {
    width: 150px;
}

/* glow button */
#glowBtn {
    position: fixed;
    top: 150px;
    left: 20px;
    padding: 10px 18px;
    font-size: 15px;
    color: white;
    background: cornflowerblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* glow mode */
.glow-mode {
    background: #020617;
}

.glow-mode #circle {
    border-color: white;
    box-shadow: 0 0 25px white;
}

.glow-mode #circle::before {
    background: rgba(255,255,255,0.4);
}

.glow-mode #circle::after {
    background: rgba(255,255,255,0.2);
}

/* bubbles & circles get bright */
.glow-mode .bubble, 
.glow-mode .circle {
    box-shadow: 0 0 25px white !important;
    background: white !important;
}

/* show in the dark */
.glow-mode #glowBtn, 
.glow-mode #circleCount {
    color: white !important;
}

/* !important makes a CSS style take 
over other styles */